@CHARSET "UTF-8";
	.CSSTable {
		margin:0px;
		padding:0px;
		width:50%;
		box-shadow: 10px 10px 5px #888888;
		border:1px solid #000000;
	
		-moz-border-radius-bottomleft:0px;
		-webkit-border-bottom-left-radius:0px;
		border-bottom-left-radius:0px;
	
		-moz-border-radius-bottomright:0px;
		-webkit-border-bottom-right-radius:0px;
		border-bottom-right-radius:0px;
	
		-moz-border-radius-topright:0px;
		-webkit-border-top-right-radius:0px;
		border-top-right-radius:0px;
	
		-moz-border-radius-topleft:0px;
		-webkit-border-top-left-radius:0px;
		border-top-left-radius:0px;
	
	}
	.CSSTable table{
		width:100%;
		height:10%;
		margin:0px;
		padding:0px;
	}
	.CSSTable tr:last-child td:last-child {
		-moz-border-radius-bottomright:0px;
		-webkit-border-bottom-right-radius:0px;
		border-bottom-right-radius:0px;
	}
	.CSSTable table tr:first-child td:first-child {
		-moz-border-radius-topleft:0px;
		-webkit-border-top-left-radius:0px;
		border-top-left-radius:0px;
	}
	
	.CSSTable table tr:first-child td:last-child {
		-moz-border-radius-topright:0px;
		-webkit-border-top-right-radius:0px;
		border-top-right-radius:0px;
	
	}.CSSTable tr:last-child td:first-child{
		-moz-border-radius-bottomleft:0px;
		-webkit-border-bottom-left-radius:0px;
		border-bottom-left-radius:0px;
	
	}.CSSTable tr:hover td{
		background-color:#ffffff;
	}
	
	.CSSTable td{
		vertical-align:middle;
		background:-o-linear-gradient(bottom, #aad4ff 5%, #ffffff 100%);
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #aad4ff), color-stop(1, #ffffff) ); 
		background:-moz-linear-gradient( center top, #aad4ff 5%, #ffffff 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#aad4ff", endColorstr="#ffffff");
		background: -o-linear-gradient(top,#aad4ff,ffffff);
		background-color:#aad4ff;
		border:1px solid #000000;
		border-width:0px 1px 1px 0px;
		text-align:center;
		padding:10px;
		font-size:14px;
		font-family:Arial;
		font-weight:normal;
		color:#000000;
	
	}.CSSTable tr:last-child td{
		border-width:0px 1px 0px 0px;
	}.CSSTable tr td:last-child{
		border-width:0px 0px 1px 0px;
	}.CSSTable tr:last-child td:last-child{
		border-width:0px 0px 0px 0px;
	}
	
	.CSSTable tr:first-child td:first-child{
		border-width:0px 0px 1px 0px;
	
	}
	
	.CSSTable tr:first-child td:last-child{
		border-width:0px 0px 1px 1px;
	
	}