		.error {
			margin-left: 3px;
			color: #FF0000;
		}
		body {
			background: #DCDDDF url(http://cssdeck.com/uploads/media/items/7/7AF2Qzt.png);
			color: #000;
			font:13px/150% Verdana, Tahoma, sans-serif;
			margin: 0 auto;
			padding:50px 120px;
			position: relative;
			}
		#main {
			margin:0 auto;
			width:700px;
			height:530px;
			background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #e6e6ee), to(#e6e6e6));
			border-color:#000; 
			padding:30px;
			box-shadow: 1px 1px 0 0 #949494;
			-moz-box-shadow: 1px 1px 0 0 #949494;
			-webkit-box-shadow: 1px 1px 0 0 #949494;
			border-radius: 18px 18px;
			-moz-border-radius: 18px 18px;
			-webkit-border-radius: 18px 18px;
			}
		.form label {  
			margin-left: 0px;  
			color: #3399FF;  
			}  
		.submit input {  
			width: auto;  
			padding: 9px 15px;  
			background: #6AA798;  
			border: 0;  
			font-size: 14px;  
			color: #FFFFFF;  
			-moz-border-radius: 5px;  
			-webkit-border-radius: 5px;  
			} 
			h1 {
      		text-shadow: 0 0 10px #FFF,
            		     0 0 20px #FFF,
                   		 0 0 30px #FFF;
            font-size: 18px;                    	
			}	
