body
{
font-family:arial;
font-size:0.85em;
padding:50px 120px;
font:13px/150% Verdana, Tahoma, sans-serif;
}

h1
{
margin-bottom:0px;
}
h2
{
margin-bottom:3px;
}
a
{
color:#222222;
text-decoration:none;
}

a:hover
{
color:4099FF;
text-decoration:underline;
}

#container
{
overflow:auto;
width:700px;
padding-top:50px;
margin:0 auto;
background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #e6e6ee), to(#e6e6e6));
padding: 30px;
box-shadow: 1px 1px 0 0 #949494;
-moz-box-shadow: 1px 1px 0 0 #949494;
-webkit-box-shadow: 1px 1px 0 0 #949494;
border-radius: 18px 18px;
-moz-border-radius: 18px 18px;
-webkit-border-radius: 18px 18px;
}

#main
{
width:700px;
height:430px;
padding-top:50px;
margin:0 auto;
background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #e6e6ee), to(#e6e6e6));
padding: 30px;
box-shadow: 1px 1px 0 0 #949494;
-moz-box-shadow: 1px 1px 0 0 #949494;
-webkit-box-shadow: 1px 1px 0 0 #949494;
border-radius: 18px 18px;
-moz-border-radius: 18px 18px;
-webkit-border-radius: 18px 18px;
}

.textbox
{
border:solid 1px #dddddd;
width:200px;
height:35px;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
overflow: auto;
resize: none;
padding:3px;
-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}

.MyMargin {text-indent: 40em; margin-top:140px;}

.btn{
cursor:pointer;
padding:5px;
margin-top:10px;

color:#ffffff;
font-weight:bold;
background-color: #9a009a;
background-repeat: repeat-x;
border-color: #2f96b4 #2f96b4 #1f6377;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}

textarea
{
width:400px;
font-family:arial;
font-size:13px;
overflow: auto;
resize: none;
height:70px;
border:solid 1px #dddddd;
padding:5px;
-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}


.comment_box
{
margin-top:10px;
padding:5px;
width:390px;
border:solid 1px #aaaaaa;
-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
font-size:13px;
overflow:auto;
}

.comment_box2
{
margin-top:10px;
padding:5px;
width:450px;
border:solid 1px #aaaaaa;
-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
font-size:13px;
overflow:auto;
}

.image_box
{
float:left;
width:60px;
}

#avatar_img
{
-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}

.body_box
{
margin-left:60px;
}

table tr td
{
padding-top:10px;
}

.txt
{
margin-top:5px;
color:#333333;
}

#success_msg
{
 margin-top:15px;   
}
.btn2 {  
 width: auto;  
 padding: 9px 15px;  
 background: #6AA798;  
 border: 0;  
 font-size: 14px;  
 color: #FFFFFF;  
 -moz-border-radius: 5px;  
 -webkit-border-radius: 5px;  
} 
